Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/StarterContent/*
Content/InfinityBladeFireLands/*
Content/InfinityBladeGrassLands/*
Content/ParagonProps/*
Content/SampleMap/*
Content/AnimStarterPack/*
Content/KiteDemo/*
Content/Lighting/*